.horizontal5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
}
.bgimg {
    background-image: url(serum\ bgimg3.avif);
    height: 500px;
    background-position: 0px -200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    
    
}
.eimg{
    background-image: url(bg\ 19.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 250px;
    margin-left: 190px;
    margin-top: -300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .jb {
    display: flex;
    flex-direction: column;
 }
 .jb a {
    color: black;
    font-size: 25px;
    padding-top: 10px;
 }
 .jb a:hover {
    color: red;
 }
 .eimg1 {
    background-image: url(bg\ 3.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 250px;
    margin-left: 190px;
    margin-top: -300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .jb1 {
    display: flex;
    flex-direction: column;
 }
 .jb1 a {
    color: black;
    padding-top: 3px;
    
 }
 .jb1 a:hover {
    color: red;
 }
 .eimg2{
    background-image: url(bg\ 2.webp);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 250px;
    margin-left: 170px;
    margin-top: -277px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .jb2 {
    display: flex;
    flex-direction: column;
 }
 .jb2 a {
    padding-top: 15px;
    color: black;
    font-size: 25px;
 }
 .jb2 a:hover {
    color: red;
 }
 .eimg3{
    background-image: url(bg\ 5.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 250px;
    margin-left: 180px;
    margin-top: -277px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .jb3 {
    display: flex;
    flex-direction: column;
 }
 .jb3 a {
    padding-top: 15px;
    color: black;
    font-size: 25px;
 }
 .jb3 a:hover {
    color: red;
 }
.heading3 {
    font-size: 40px;
    margin-bottom: 20px;
    color: orangered;
    
    
}
.shopnow4 {
    height: 320px;
    width: 220px;
    background-color: rgb(153, 185, 197);
    
}
.one12 img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
    
}
.serumtext {
    font-size: 70px;
    text-align: right;
    font-family: georgia;
    font-style: bold;
    padding-top: 190px;
    padding-right: 60px;
    color:orangered;
    text-shadow: -3px -3px 3px black;
    
}
.hthree2 {
    text-align: center;
    font-size: 13px;
}
.price2 {
    text-align: center;
}
.b12 {
    margin-top: 12px;
    margin-left: 35px;
    width: 150px;
    height: 30px;
    border: 1px black solid;
    background-color: orangered;
    color: whitesmoke;
}
.b12:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}
nav a {
    color: orangered;
}
.head2 {
    color: orangered;
}
svg {
    padding-left: 18px;
    color: orangered;
}
@media only screen and (max-width:470px){
   .horizontal5 {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      
  }
  .nav1 {
   display: flex;
   gap: 10px;
   
  }
  .bgimg {
      background-image: url(serum\ bgimg3.avif);
      height: 500px;
      background-position: 0px -200px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 5px;
      
      
  }
  .eimg{
      background-image: url(bg\ 19.png);
      background-position: center;
      background-size: cover;
      height: 300px;
      width: 250px;
      margin-left: 190px;
      margin-top: -300px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }
   .jb {
      display: flex;
      flex-direction: column;
   }
   .jb a {
      color: black;
      font-size: 25px;
      padding-top: 10px;
   }
   .jb a:hover {
      color: red;
   }
   .eimg1 {
      background-image: url(bg\ 3.jpg);
      background-position: center;
      background-size: cover;
      height: 300px;
      width: 250px;
      margin-left: 190px;
      margin-top: -300px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }
   .jb1 {
      display: flex;
      flex-direction: column;
   }
   .jb1 a {
      color: black;
      padding-top: 3px;
      
   }
   .jb1 a:hover {
      color: red;
   }
   .eimg2{
      background-image: url(bg\ 2.webp);
      background-position: center;
      background-size: cover;
      height: 300px;
      width: 250px;
      margin-left: 170px;
      margin-top: -277px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }
   .jb2 {
      display: flex;
      flex-direction: column;
   }
   .jb2 a {
      padding-top: 15px;
      color: black;
      font-size: 25px;
   }
   .jb2 a:hover {
      color: red;
   }
   .eimg3{
      background-image: url(bg\ 5.png);
      background-position: center;
      background-size: cover;
      height: 300px;
      width: 250px;
      margin-left: 180px;
      margin-top: -277px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }
   .jb3 {
      display: flex;
      flex-direction: column;
   }
   .jb3 a {
      padding-top: 15px;
      color: black;
      font-size: 25px;
   }
   .jb3 a:hover {
      color: red;
   }
  .heading3 {
      font-size: 40px;
      margin-bottom: 20px;
      color: orangered;
      
      
  }
  .shopnow4 {
      height: 320px;
      width: 220px;
      background-color: rgb(153, 185, 197);
      
  }
  .one12 img {
      height: 200px;
      width: 200px;
      object-fit: contain;
      margin-top: 10px;
      margin-left: 10px;
      background-color: whitesmoke;
      
  }
  .serumtext {
      font-size: 70px;
      text-align: right;
      font-family: georgia;
      font-style: bold;
      padding-top: 190px;
      padding-right: 60px;
      color:orangered;
      text-shadow: -3px -3px 3px black;
      
  }
  .hthree2 {
      text-align: center;
      font-size: 13px;
  }
  .price2 {
      text-align: center;
  }
  .b12 {
      margin-top: 12px;
      margin-left: 35px;
      width: 150px;
      height: 30px;
      border: 1px black solid;
      background-color: orangered;
      color: whitesmoke;
  }
  .b12:hover {
      background-color: whitesmoke;
      color: black;
      cursor: pointer;
  }
  nav a {
      color: orangered;
  }
  .head2 {
      color: orangered;
  }
  svg {
      padding-left: 18px;
      color: orangered;
  }
}
